.container {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
  }
  
  .logo {
    width: 100px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #003366;
  }
  
  .buttons {
    margin: 20px 0;
  }
  
  .btn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #003366;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
  }
  
  .btn:hover {
    background-color: #0055aa;
  }
  
  .privacy-link {
    color: #003366;
    font-size: 14px;
    text-decoration: none;
  }

/*.form-container {
    max-width: 400px;
    margin: 50px auto;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #003366;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
    color: #003366;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input:focus {
    border-color: #003366;
    outline: none;
  }*/
   



   
/* .form-container {
    max-width: 400px;
    margin: 50px auto;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #003366;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
    color: #003366;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input:focus {
    border-color: #003366;
    outline: none;
  }
  */