
<div class="form-container">
    <h1>Político</h1>
    <form>
      <label for="ci">C.I.:</label>
      <input type="text" id="ci" placeholder="Ingrese su C.I." />
  
      <label for="name">Nombres y Apellidos:</label>
      <input type="text" id="name" placeholder="Ingrese su nombre completo" />
  
      <label for="birthdate">Fecha de Nacimiento:</label>
      <input type="date" id="birthdate" />
  
      <label for="user">Usuario:</label>
      <input type="text" id="user" placeholder="Ingrese su usuario" />
  
      <label for="profession">Profesión:</label>
      <input type="text" id="profession" placeholder="Ingrese su profesión" />
  
      <label for="position">Cargo Político:</label>
      <input type="text" id="position" placeholder="Ingrese su cargo" />
  
      <label for="email">Correo Electrónico:</label>
      <input type="email" id="email" placeholder="Ingrese su correo" />
    </form>
  </div>